:root {
  --border: #27272a;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  overflow-y: auto;
}

div.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

h2.center {
  text-align: center;
}

img.logo {
  width: calc(936px/14);
  height: calc(620px/14);
  border-radius: 0.25rem;
}

/* navbar */
div.navbar {
  min-width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  position: fixed;
  transition-duration: 250ms;
  z-index: 1;
}

div.navbar div.left-side {
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: 2.5rem;
  gap: 1rem;
}

div.navbar div.left-side h1 {
  font-size: larger;
}

div.navbar div.right-side {
  display: flex;
  gap: 1.5rem;
  padding-right: 2.5rem;
  font-weight: 700;
}

div.navbar div.right-side a {
  color: inherit;
  text-decoration: none;
}

div.navbar div.right-side div.dropdown-link {
  position: relative;
}

div.navbar div.right-side div.dropdown-link a {
  display: flex;
  align-items: center;
}

div.navbar div.right-side div.dropdown-link div.dropdown-card {
  position: absolute;
  top: 100%;
  background-color: #18181b;
  width: 240px;
  min-width: 0;
  padding: 0.75rem;
}

div.navbar div.right-side div.dropdown-link div.dropdown-card div.item a {
  display: block;
  padding: 0.5rem;
  border-radius: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  color: white;
}

div.navbar div.right-side div.dropdown-link div.dropdown-card div.item:hover {
  background-color: #27272a;
}

div.fill {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: orange;
  border-bottom: 2px solid var(--border);
}

footer {
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  user-select: none;
}

footer span.icons {
  position: absolute;
  display: flex;
  transform: translateX(45vw);
}

footer span.icons svg {
  color: orangered;
  font-size: 2.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  transition-duration: 500ms;
}

footer span.icons svg:hover {
  color: black;
}

button.scroll-up {
  width: 42.6px;
  height: 42.6px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  outline: none;
  border: none;
  background-color: orangered;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Phone screens */
@media (max-width: 767px) {

  /* Navbar */
  div.navbar div.left-side {
    padding-left: 0;
  }

  div.navbar div.right-side {
    display: none;
  }
}