body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* navbar */
div.navbar {
  min-width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  position: fixed;
  transition-duration: 250ms;
  z-index: 1;
}

div.navbar div.left-side {
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: 2.5rem;
}

@media (max-width: 767px) {
  div.navbar div.left-side {
    padding-left: 0;
  }
}

div.navbar div.left-side h1 {
  font-size: larger;
}

div.navbar div.right-side {
  display: flex;
  gap: 1.5rem;
  padding-right: 2.5rem;
}

@media (max-width: 767px) {
  div.navbar div.right-side {
    display: none;
  }
}

div.navbar div.right-side a {
  color: inherit;
  text-decoration: none;
}

div.navbar div.right-side div.dropdown-link {
  position: relative;
}

div.navbar div.right-side div.dropdown-link a {
  display: flex;
  align-items: center;
}

div.navbar div.right-side div.dropdown-link div.dropdown-card {
  position: absolute;
  top: 100%;
  background-color: #18181b;
  width: 240px;
  min-width: 0;
  padding: 0.75rem;
}

div.navbar div.right-side div.dropdown-link div.dropdown-card div.item a {
  display: block;
  padding: 0.5rem;
  border-radius: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  color: white;
}

div.navbar div.right-side div.dropdown-link div.dropdown-card div.item:hover {
  background-color: #27272a;
}

/* home-page */
div.home-hero {
  background-color: orange;
  background-image: url("/background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #27272a;
  position: relative;
}

div.home-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(255, 127, 0, 0.5);
}

div.home-recent-events {
  background-color: orange;
  border-bottom: 2px solid #27272a;
}

div.home-recent-events span {
  display: flex;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-weight: bold;
}

div.home-recent-events div.details {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 3fr));
  row-gap: 1rem;
  column-gap: 0rem;
  background-color: white;
  place-items: center;
  padding: 1rem;
}

div.home-recent-events div.details div.card-fallback {
  width: 365px;
  height: 364px;
  background-color: black;
}

footer {
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
}