div.history-hero-section {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    background-color: orange;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--border);
}

div.history-section {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: orange;
    border-bottom: 2px solid var(--border);
}